* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

a {
    text-decoration: none;
}

button {
    outline: none;
    border: none;
    background-color: transparent;
}

input {
    background: none;
    outline: none;
    border: none;
}
