* {
    box-sizing: border-box;
}

:root {
    --primary-color-light: #7264d6;
    --secondary-color-dark: #070052;
    --bg-color-dark: #212832;
    --bg-color-white: #fff;
    --text-color-dark: #212832;
    --text-color-gray: #696d76;
    --text-color-white: #fff;
}

html {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

a {
    text-decoration: none;
}

button {
    outline: none;
    border: none;
    background-color: transparent;
}

input {
    background: none;
    outline: none;
    border: none;
}

/* Common */

.container {
    margin: 0 auto;
    width: 1170px;
    max-width: calc(100vw - 48px);
}

.row {
    display: flex;
    align-items: center;
}

h1 {
    color: var(--text-color-dark);
    font-size: 3.75rem;
    font-weight: 700;
    line-height: 1.17;
}

h2 {
    color: var(--text-color-dark);
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.25;
}

.btn--filled {
    padding: 18px 28px;
    color: var(--text-color-white);
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--bg-color-dark);
    border-radius: 6px;
}

.btn--filled:hover {
    background-color: var(--primary-color-light);
}

.btn--link {
    padding: 6px 0;
    color: var(--text-color-dark);
    font-size: 1rem;
    font-weight: 600;
}

.btn--link:hover {
    color: var(--primary-color-light);
}

.section--lable {
    display: flex;
    align-items: center;
    color: var(--text-color-gray);
    font-size: 1rem;
    font-weight: 400;
}

.section--lable::before {
    content: "";
    margin-right: 12px;
    display: inline-block;
    width: 18px;
    height: 2px;
    transform: translateY(-50%);
    background-color: currentColor;
}

.section--desc {
    color: var(--text-color-gray);
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.67;
}

.text--content {
    color: var(--text-color-gray);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75;
}

/* Header */

#header {
    margin-top: 42px;
}

.nav-bar--nav,
.nav-bar {
    display: flex;
    align-items: center;
}

.nav-bar--nav {
    justify-content: space-between;
}

.nav-bar {
    column-gap: 70px;
}

.nav-bar--list {
    display: flex;
    align-items: center;
    column-gap: 47px;
}

.nav-bar--item {
    position: relative;
    padding: 6px 0px;
}

.nav-bar--link {
    color: var(--text-color-gray);
    font-size: 1rem;
    font-weight: 400;
}

.nav-bar--link:hover,
.nav-bar--link__active {
    color: var(--text-color-dark);
    text-shadow: 1px 0 0 currentColor;
}

.nav-bar--link__active::after {
    content: "";
    height: 1px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--primary-color-light);
    border-radius: 99px;
}

.nav-bar--btn:nth-child(2) {
    margin-left: 28px;
}

.hero--header {
    margin-top: 76px;
    justify-content: space-between;
}

.hero--header__content {
    width: 46%;
}

.hero--header__title {
    margin-top: 12px;
}

.hero--header__title-highlight {
    color: var(--primary-color-light);
}

.hero--header__desc {
    margin-top: 20px;
}

.hero--header__subscribe {
    position: relative;
    margin-top: 40px;
}

.hero--header__input {
    width: 100%;
    height: 74px;
    padding-left: 23px;
    display: flex;
    align-items: center;
    background-color: var(--bg-color-white);
    border-radius: 8px;
    box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
}

.hero--header__input::placeholder {
    color: var(--text-color-gray);
}

.hero--header__btn {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    padding: 18px 30px;
    background-color: var(--primary-color-light);
}

.hero--header__note {
    margin-top: 20px;
    color: #696d76;
    font-size: 0.875rem;
    font-weight: 600;
}

.header--img {
    position: relative;
    width: 49%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header--img__deposite,
.header--img__fund,
.header--img__interest {
    position: absolute;
}

.header--img__deposite {
    top: 113px;
    left: 0;
    padding: 14px 10px;
    display: flex;
    background-color: var(--bg-color-white);
    border-radius: 6px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
}

.header--img__deposite-lable {
    margin-left: 8px;
    color: #31456a;
    font-size: 0.875rem;
    font-weight: 600;
}

.header--img__deposite-price {
    margin-left: 20px;
    color: #4ab5e3;
    font-size: 0.875rem;
    font-weight: 400;
}

.header--img__fund {
    top: 433px;
    right: 100px;
    display: flex;
    padding: 20px 15px;
    background-color: #439f90;
    border-radius: 10px;
}

.header--img__fund-content {
    margin-left: 12px;
}

.header--img__fund-price {
    color: #fff;
    font-size: 0.875rem;
    font-weight: 600;
}

.header--img__fund-lable {
    margin-top: 5px;
    color: #fff;
    font-size: 0.5rem;
    font-weight: 400;
}

.header--img__interest {
    top: 127px;
    right: 0;
    width: 130px;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #da6464;
    border-radius: 50%;
}

.header--img__interest-price {
    color: #fff;
    font-size: 2.75rem;
    font-weight: 600;
}

.header--img__interest-lable {
    margin-top: 5px;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
}

/* Smart Wallet */

#smart-wallet {
    margin-top: 160px;
}

.smart-wallet--wrap {
    justify-content: space-between;
}

.wallet--img {
    position: relative;
    width: 49%;
    height: 619px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.wallet--img__man {
    position: absolute;
    left: 7px;
    bottom: 0;
}

.wallet--img__bank,
.wallet--img__bank-inner,
.wallet--img__congrats-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wallet--img__bank {
    position: absolute;
    top: 76px;
    left: 362px;
    width: 64px;
    height: 64px;
    background-color: #7264d6;
    border-radius: 8px;
}

.wallet--img__bank-inner {
    width: 40px;
    height: 40px;
    background-color: #f8fbfe;
    border-radius: 4px;
}

.wallet--img__congrats {
    position: absolute;
    bottom: 96px;
    right: 0;
    width: 226px;
    display: flex;
    align-items: center;
    padding: 15px 15px;
    background-color: #fffdfa;
    border-radius: 8px;
    box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
}

.wallet--img__congrats-icon {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    background-color: #4ab5e3;
    border-radius: 6px;
}

.wallet--img__congrats-lable {
    color: var(--bg-color-dark);
    font-size: 0.875rem;
    font-weight: 600;
}

.wallet--img__congrats-desc {
    margin-top: 5px;
    color: var(--text-color-gray);
    font-size: 0.75rem;
    font-weight: 400;
}

.wallet--content {
    width: 40%;
}

.wallet--title {
    margin-top: 12px;
}

.wallet--work__list {
    margin-top: 70px;
}

.wallet--work__item + .wallet--work__item {
    margin-top: 30px;
}

.wallet--work__item-title {
    color: var(--bg-color-dark);
    font-size: 1.375rem;
    font-weight: 600;
    line-height: 1.45;
}

.wallet--work__item-desc {
    margin-top: 16px;
    color: var(--text-color-gray);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75;
}

/* Payment */

#payment {
    margin-top: 160px;
}

.card-payment {
    justify-content: space-between;
}

.card-payment--content {
    width: 40%;
}

.payment--title {
    margin-top: 12px;
}

.payment--desc {
    margin-top: 20px;
}

.wallet--benefit__list {
    margin-top: 34px;
}

.wallet--benefit__item {
    display: flex;
    align-items: center;
    column-gap: 12px;
    margin-top: 24px;
    color: var(--text-color-dark);
    font-size: 1.125rem;
    font-weight: 600;
}

.wallet--benefit__item:first-child {
    margin-top: 0;
}

.wallet--benefit__item::before {
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--primary-color-light);
    border-radius: 50%;
}

.payment--action {
    display: inline-block;
    margin-top: 44px;
    padding: 15px 30px;
}

.card-payment--img {
    position: relative;
    width: 49%;
    display: flex;
    align-items: center;
}

.payment--send {
    position: absolute;
    top: -48px;
    right: 0;
    width: 276px;
    display: flex;
    align-items: center;
    padding: 24px 14px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.07);
}

.payment--send__icon-wrap,
.payment--income__icon-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.payment--send__icon-wrap {
    margin-right: 14px;
    width: 40px;
    height: 40px;
    background-color: rgba(218, 100, 100, 0.1);
    border-radius: 8px;
}

.payment--send__content {
    flex: 1;
}

.payment--send__content-wrap,
.payment--send__info-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.payment--send__info-wrap {
    margin-top: 1px;
}

.payment--send__lable {
    color: var(--bg-color-dark);
    font-size: 0.75rem;
    font-weight: 500;
}

.payment--send__desc {
    color: var(--text-color-gray);
    font-size: 0.625rem;
    font-weight: 400;
}

.payment--send__price {
    color: var(--bg-color-dark);
    font-size: 1rem;
    font-weight: 400;
}

.payment--send__date {
    color: var(--text-color-gray);
    font-size: 0.625rem;
    font-weight: 400;
}

.payment--income {
    position: absolute;
    bottom: -55px;
    right: 0;
    width: 120px;
    padding: 14px 15px;
    background-color: #439f90;
    border-radius: 16px;
}

.payment--income__icon-wrap {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 8px;
}

.payment--income__lable {
    margin-top: 14px;
    color: #fff;
    font-size: 0.75rem;
    font-weight: 400;
}

.payment--income__price {
    margin-top: 6px;
    color: #fff;
    font-size: 1.125rem;
    font-weight: 600;
}

/* Transaction */

#transaction {
    margin-top: 160px;
}

.transaction-money {
    justify-content: space-between;
}

.transaction--img {
    position: relative;
    width: 49%;
    height: 600px;
    display: flex;
    align-items: flex-end;
    justify-items: flex-start;
}

.transaction--img__person {
    position: absolute;
    top: 0;
    left: 29px;
}

.payment-method {
    position: absolute;
    bottom: 57px;
    right: 26px;
    width: 281px;
    padding: 28px;
    background-color: var(--bg-color-white);
    border-radius: 10px;
    box-shadow: 0px 44px 48px rgba(0, 0, 0, 0.1);
}

.choose-payment-method {
    color: var(--bg-color-dark);
    font-size: 1.125rem;
    font-weight: 600;
}

.credit--list {
    margin-top: 20px;
}

.credit-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 18px;
}

.credit-row:nth-child(2) {
    margin-top: 18px;
}

.payment-option--wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    background-color: #f2f2fa;
    border-radius: 4px;
}

.payment-option--more {
    background-color: #f9ea63;
}

.transaction-money__icon-wrap {
    position: absolute;
    top: 288px;
    right: 0;
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7264d6;
    border-radius: 50%;
}

.transaction--content {
    width: 40%;
}

.transaction--title {
    margin-top: 12px;
}

.transaction--desc {
    margin-top: 20px;
}

.transaction--action {
    display: inline-block;
    margin-top: 44px;
    padding: 15px 30px;
}

/* Testimonial */

#testimonial {
    margin-top: 160px;
}

.testimonial--lable {
    justify-content: center;
}

.testimonial--title {
    margin-top: 12px;
    text-align: center;
}

.testimonial--desc {
    margin: 18px auto 0 auto;
    width: 435px;
    text-align: center;
    font-size: 1rem;
}

.testimonial--feedback {
    margin-top: 70px;
}

.testimonial--feedback__list {
    display: flex;
    column-gap: 30px;
    overflow: hidden;
}

.testimonial--feedback__item {
    width: 570px;
    flex-shrink: 0;
}

.testimonial--quote {
    height: 300px;
}

.testimonial--quote:hover {
    filter: drop-shadow(0px 22px 54px rgba(0, 0, 0, 0.07));
}

.testimonial--feedback__content {
    position: relative;
    padding: 42px 28px;
    background-color: var(--bg-color-white);
    border: 1px solid #dfe2e8;
    border-radius: 8px;
    color: var(--text-color-gray);
    text-align: center;
    font-size: 1.375rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.55;
}

.testimonial--feedback__content::after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: -31px;
    left: 50%;
    translate: -50% 0;
    rotate: 45deg;
    width: 60px;
    height: 60px;
    background-color: var(--bg-color-white);
    border-radius: 0 0 8px 0;
    border-right: 1px solid #dfe2e8;
    border-bottom: 1px solid #dfe2e8;
}

.testimonial--quote:hover .testimonial--feedback__content,
.testimonial--quote:hover .testimonial--feedback__content::after {
    border: 1px solid transparent;
}

.testimonial--feedback__avatar {
    position: relative;
    margin: 36px auto 0 auto;
    width: 104px;
    height: 104px;
    border-radius: 50%;
    overflow: hidden;
}

.testimonial--feedback__avatar--blue {
    background-color: #4ab5e3;
}

.testimonial--feedback__avatar--green {
    background-color: #439f90;
}

.testimonial--feedback__avatar-img {
    position: absolute;
    top: 10px;
    left: 50%;
    translate: -50% 0;
}

.testimonial--feedback__name {
    margin-top: 25px;
    color: var(--secondary-color-dark);
    text-align: center;
    font-size: 1.625rem;
    font-weight: 600;
}

.testimonial--feedback__job {
    margin-top: 7px;
    color: var(--text-color-gray);
    text-align: center;
    font-size: 1.125rem;
    font-weight: 400;
}

.testimonial--slide {
    margin-top: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 12px;
}

.testimonial--slide__control {
    width: 22px;
    height: 6px;
    border: 1px solid #9b9fab;
    border-radius: 1px;
}

.testimonial--slide__active {
    background-color: var(--primary-color-light);
    border: 1px solid var(--primary-color-light);
}

/* Blog */

#blog {
    margin-top: 160px;
}

.blog--header {
    justify-content: space-between;
}

.blog--header__content {
    width: 37%;
}

.blog--title {
    margin-top: 12px;
}

.blog--desc {
    margin-top: 18px;
    font-size: 1rem;
}

.blog--list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.blog--item {
    padding: 26px;
    display: flex;
    align-items: center;
    column-gap: 22px;
    background-color: var(--bg-color-white);
    border: 1px solid #dfe2e8;
    border-radius: 12px;
    transition: 0.3s;
}

.blog--item:hover {
    border: 1px solid #fff;
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.07);
    cursor: pointer;
}

.blog--item__thumb {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 12px;
}

.blog--item__date {
    color: var(--text-color-gray);
    font-size: 0.875rem;
    font-weight: 400;
}

.blog--item__title {
    margin-top: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: var(--bg-color-dark);
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.67;
}

.blog--item__action {
    display: block;
    padding: 6px;
    margin-top: 24px;
    color: var(--text-color-gray);
    font-weight: 400;
}

.blog--item:hover .blog--item__action {
    color: var(--primary-color-light);
}

/* Download app */

#cta {
    margin-top: 160px;
}

.download-app {
    position: relative;
    width: 100%;
    height: 466px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color-light);
    border-radius: 24px;
}

.download-app--lable {
    color: var(--text-color-white);
}

.download-app--title {
    margin-top: 18px;
    color: var(--text-color-white);
}

.download-app--desc {
    width: 435px;
    margin-top: 18px;
    font-size: 1rem;
    text-align: center;
    color: var(--text-color-white);
}

.download-app--action {
    margin-top: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 16px;
}

.download-app--btn {
    width: 182px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color-white);
    border-radius: 6px;
}

.cta--star {
    position: absolute;
}

.cta--star__top-left {
    top: 49px;
    left: 112px;
}

.cta--star__top-right {
    top: 49px;
    right: 112px;
}

.cta--star__bot-left {
    bottom: 49px;
    left: 166px;
}

.cta--star__bot-right {
    bottom: 49px;
    right: 166px;
}

/* Footer */

#footer {
    margin-top: 160px;
    background-color: #fafbff;
}

.footer--wrap {
    padding-top: 100px;
    align-items: flex-start;
    column-gap: 163px;
}

.footer--title {
    color: var(--bg-color-dark);
    font-size: 1.125rem;
    font-weight: 600;
}

.footer--page__list {
    margin-top: 32px;
}

.footer--page__item {
    margin-top: 24px;
}

.footer--page__item:first-child {
    margin-top: 0;
}

.footer--page__link {
    color: rgba(105, 109, 118, 0.75);
    font-size: 1.125rem;
    font-weight: 400;
}

.footer--page__link:hover {
    color: var(--primary-color-light);
}

.footer--address__content {
    margin-top: 24px;
    color: rgba(105, 109, 118, 0.75);
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.67;
}

.footer--subscribe {
    margin-top: 48px;
}

.footer--subscribe__action {
    margin-top: 24px;
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.footer--subscribe__input {
    width: 100%;
    padding: 14px;
    border: 1px solid #8e919a;
    border-radius: 6px;
    color: var(--text-color-dark);
    font-size: 1rem;
    font-weight: 400;
}

.footer--subscribe__input::placeholder {
    color: #8e919a;
    font-size: 1rem;
    font-weight: 400;
}

.footer--subscribe__sumbit {
    padding: 15px 20px;
    background-color: var(--primary-color-light);
}

.footer--contact {
    margin: 54px 0 28px;
    display: flex;
    column-gap: 100px;
}

.footer--contact__info {
    color: var(--text-color-gray);
    font-size: 1.125rem;
    font-weight: 400;
    text-decoration: underline;
}

.footer--contact__info:hover {
    color: var(--primary-color-light);
}

.copyright {
    padding: 28px 0;
    background-color: var(--primary-color-light);
}

.copyright--content {
    color: var(--text-color-white);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}
